*{margin: 0px;padding: 0px;}
.header{
    background-color: #425F9C;
    min-height: 150px;
    overflow: hidden;
}
.wrapper{
    width: 90%;
    margin: 0px auto;
}
.logo{
    width: 15%;
    border: 2px solid Gray;
    box-sizing: border-box;
    min-height:100px;
    margin-top: 25px;
    margin-left: 5%;
    float: left;
}
.login{
    width: 35%;
    min-height: 100px;
    border: 2px solid red;
    box-sizing: border-box;
    float: right;
    margin-top: 25px;
    margin-right: 5%;
    
}
.content{
    overflow: hidden;
    background-color: #E5E8F1;
    min-height: 600px;

}
.content_text{
    width: 45%;
    border: 2px solid green;
    min-height: 300px;
    margin: 60px 5%;
    float: left;
}
.registration_form{
    width: 30%;
    border: 2px solid red;
    box-sizing: border-box;
    min-height: 450px;
    margin: 50px 5%;
    float: right;
}
.footer{
    overflow: hidden;
    min-height: 200px;
    background-color: #FFFFFF;
}
.footer_top{
    min-height: 50px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 20px;
}
.footer_bottom{
    min-height: 50px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 20px;
}
